*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0px 40px;
}

.nav {
  background-color: #ECE8D9;
  font-size: 14px;
}

.nav1 {
  background-color: #F7F6F4;
  height: 60px;
  color: #506683;
  font-weight: bold;
}

.nav1-link a {
  text-decoration: none;
  color: #506683;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
}

.nav-contact a {
  color: #1DA6F2;
  text-decoration: none;
}

.fa-whatsapp  {
  font-size: 35px;
  padding: 0px 0px 0px 0px;
  width: 30px;
  height: 30px;
  background-color: #51CD5F;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.country {
  width: auto;
  padding: 8px 10px;
  border: 1px solid gray;
  background-color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.dropdowns, .account  {
  gap: 20px;
  color: #506683;
}

.menu a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #506683;
}

.dropdown .menu-btn {
  display: none !important;
}

.search {
  /* background-image: ; */
}

.search:focus {
  outline: none;
}

.nav .card-img {
  object-fit: cover;
  float: right;
  bottom: -60px;
  right: -100px;
  position: absolute;
  /* margin-right: -100px; */
}

.card-img-top {
  height: 230px;
  cursor: pointer;
  transition: all ease-in-out .5s;
}

.card-img-container {
  overflow: hidden;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  color: #384A7A;
}

.card-text {
  color: #708095;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}

.card-price {
  font-size: 20px;
  font-weight: bold;
  color: #384A62;
  margin-top: -8px;
}

.card-percent {
  font-size: 14px;
  font-weight: bold;
  color: #7080AF;
}

.card-btn {
  background-color: #D77F81 !important;
  color: whitesmoke !important;
  text-transform: capitalize;
  height: 40px;
  width: auto;
}

.card-btn-text {
  width: 80%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.about-icon {
  font-size: 50px;
}

.footer-a {
  width: 20%;
}

.feedback .footer-a a {
  color: white !important;
  text-decoration: none;
  text-transform: capitalize;
}

.footer-a div {
  color: whitesmoke;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.about-us img {
  width: 70px;
  height: 70px;
}
















@media screen and (max-width: 600px) {
  body {
    padding: 0px !important;
  }
  .nav1 .nav1-link, .nav-contact span, .nav-card-container {
    display: none !important;
  }

  .nav1 .nav-contact-container {
    width: 100% !important;
    padding: 0px 20px !important;
    /* display: none !important; */
  }

 .nav .dropdowns, .nav .create-acc {
    display: none !important;
  }

  .nav-caro .dropdown-item {
    font-weight: bold;
    margin: 10px 0px;
    font-size: 20px !important;
    color: #384F66;
  }

  .dropdown-menu li {
    display: flex;
    width: 86%;
  }

  li .fa-angle-right {
    font-size: 20px;
  }

  .dropdown-menu {
    position: fixed !important;
    width: 110% !important;
    height: 100vh;
    top: -208px !important;
    left: 0px !important;
    right: 0px !important;
    overflow-y: auto;
    animation-name: drop;
  }



  .nav-caro {
    padding: 0px 20px 30px 20px !important;
  }

  .nav-caro .img-container{
    width: 50% !important;
  }

  .nav-caro .menu {
    width: 50% !important;
    justify-content: end;
  }

  .dropdown .menu-btn {
    display: flex !important;
  }

  .nav-caro .img-signin {
    justify-content: space-between !important;
  }

  .menu .account {
    gap: 40px !important;
  }

  .menu .account a:first-child {
    font-size: 12px !important;
  }

 .nav .q-print {
    width: 100% !important;
  }

  .q-print-con {
    margin-top: 30px !important;
  }

  .q-print div:first-child {
    font-size: 2.3rem !important;
  }

  .q-print .ship {
    font-size: 20px !important;
  }

  .nav-contact a {
    font-size: 12px !important;
  }
  .search {
    padding: 20px !important;
  }





.product-sect {
  width: 100% !important;
  padding: 0px 20px;
}

.product-sect .pop-prod {
  font-size: 20px !important;
}

.product-sect .pop-prod-2 {
  font-size: 14px !important;
  font-family: Lato,sans-serif;
}

.card {
  width: 100% !important;
}
.product-sect .partner {
  width: 100% !important;
}

.partner-img img {
  width: 100%;
}






.each-feed-container {
  flex-direction: column;
}


.feedback, .about-us {
  padding: 60px 20px !important;
}

.about-div {
  flex-direction: column;
}
.each-feed-container div {
  width: 100% !important;
}

.each-about {
  width: 100% !important;
  flex-direction: column;
}






.notice {
  flex-direction: column;
  gap: 40px;
}

.notice .notice-div {
  width: 100%;
}

.feedback .footer-a a {
  color: white !important;
}





.foot {
  flex-direction: column;
  gap: 30px;
}

.footer-a {
  width: 100%;
}

.footer-a .social-media {
  width: 50% !important;
}

.copyright {
  padding: 25px 0px !important;
}

}